<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home Page</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/heroic-features.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Location Voitures</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "List",new { Area = "Voitures"})">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Default")">Log in</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Default")">S'inscrire</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->

        @RenderBody()
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- fraimwork - jquery include -->
    @*   <script src="~/~/assets/js/jquery-3.5.1.min.js"></script>*@
    <script src="~/assets/js/popper.min.js"></script>
    @*    <script src="~/assets/js/bootstrap.min.js"></script>*@

    <!-- animation - jquery include -->
    <script src="~/assets/js/aos.js"></script>
    <script src="~/assets/js/parallaxie.js"></script>

    <!-- carousel - jquery include -->
    <script src="~/assets/js/slick.min.js"></script>

    <!-- popup - jquery include -->
    <script src="~/assets/js/magnific-popup.min.js"></script>

    <!-- select ontions - jquery include -->
    <script src="~/assets/js/nice-select.min.js"></script>

    <!-- isotope - jquery include -->
    <script src="~/assets/js/isotope.pkgd.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/masonry.pkgd.min.js"></script>

    <!-- google map - jquery include -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&ver=2.1.6"></script>
    <script src="~/assets/js/gmaps.min.js"></script>

    <!-- pricing range - jquery include -->
    <script src="~/assets/js/jquery-ui.js"></script>

    <!-- counter - jquery include -->
    <script src="~/assets/js/waypoint.js"></script>
    <script src="~/assets/js/counterup.min.js"></script>

    <!-- contact form - jquery include -->
    <script src="~/assets/js/validate.js"></script>

    <!-- mobile menu - jquery include -->
    <script src="~/assets/js/mCustomScrollbar.js"></script>

    <!-- custom - jquery include -->
    <script src="~/assets/js/select2.full.js"></script>

    <!-- custom - jquery include -->
    <script src="~/assets/js/custom.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
