@model IEnumerable<Projet_Asp_Location_Voitures_2021.Models.Voiture>

@{
    ViewBag.Title = "Index";
}
@{ Layout = "~/Areas/Proprietaire/Views/Shared/UserLayout.cshtml";
}
<head>
    <style>
        #body {
            padding: 10px;
            padding-bottom: 60px; /* Height of the footer */
        }

        .card {
            margin: 15px;
        }
    </style>
</head>

<div class="row">
   
    @foreach (var item in Model)
    {

        <div class="card" style="width: 18rem;">
            <img src=@item.Image_Voiture class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> @item.Marque</h5>
                <p class="card-text">  @item.Prix dhs </p>
                <a href="#" class="btn btn-success">More Details</a>
            </div>
        </div>


    }
</div>