
@{
    ViewBag.Title = "Index";
}


<h1 id="INDEX">Index</h1>
<div id="CONTENT"></div>
<button value="SUBMIT">SUBMIT</button>
@section Scripts
    {
    <script type="text/javascript" src="~/Scripts/master.js"></script>
    }